nav {
    color: white;
    background-color: rgb(47, 52, 56);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 120px 260px;
    margin: 5px;
}

.printsection {
    background-color: rgb(113, 113, 113);
    padding: 150px;
    margin: 15px;
}